<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="application.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="sSource" value="Threshold Mail Listerner" />
    <add key="sLog" value="Application" />
    <add key="sEvent" value="TML Logs --&gt;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="xemail" value="mondaykadiri@gmail.com"/>
  <add key="phonenumber" value="+2348029998152"/>
    <add key="Authid" value="P53M16I03G43O73L56W26N63S56P26M63I83G93O23L66W56N33S33P66M56I73G56O53L73W23N13S26P73M83I36G36O53L34H14"/>
    <add key="secret" value="I43G93O53L66W93N16S33P36M46I66G13O63L93W03N13S73P03M63I63G13O13L83W46N73S16P83M23I36G56O53L03H63"/>
  </appSettings>
  <connectionStrings>
      <add name="Escaltethreshold.Properties.Settings.ConnectionString"
          connectionString="DATA SOURCE=myDbConnect;DBA PRIVILEGE=SYSDBA;PASSWORD=isng123;PERSIST SECURITY INFO=True;USER ID=C##ISNG"
          providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>